rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == document;
      allow delete: if request.auth.uid == document;
    }

    match /challenges/{document} {
      allow create: if request.auth != null;
      allow read: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /daily_progress/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /challenge_logs/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if false;
    }

    match /screen_time_logs/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /achievements/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /daily_quotes/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /feedback/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
